@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

body {
   // background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
   background: #38c5b9;
   color: #f7f7f7;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
 }

.title-section {
   // margin: 50px 0px;
   margin: 100px 0px;
}
.list-group {
   color: black;
}


 h1 {
   color: white;
   font-size: 1.25em;
   font-weight: 900;
   // margin: 0 0 1em;
   
   @media (min-width: 450px) {
     font-size: 1.75em;
   }
   
   @media (min-width: 760px) {
     font-size: 3.25em;
   }
   
   @media (min-width: 900px) {
     font-size: 5.25em;
     margin: 0 0 1em;
   }
 }

 .button-section {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   width: 60vw;
   max-width: 1200px;
   margin: 4em auto;
   // min-height: 100vh;
 }
 .button {
   flex: 1 1 auto;
   margin: 10px;
   padding: 20px;
   border: 2px solid #f7f7f7;
   text-align: center;
   text-transform: uppercase;
   position: relative;
   overflow:hidden;
   transition: .3s;
   &:after {
     position: absolute;
     transition: .3s;
     content: '';
     width: 0;
     left: 50%;
     bottom: 0;
     height: 3px;
     background: #f7f7f7;
   
   
     height: 120%;
     left: -10%;
     transform: skewX(15deg);
     z-index: -1;
   }
   

   &:hover {
     cursor: pointer;

     &:after {
       width: 100%;
       left: 0;
     }
 
       color: #5bcaff;
   
   }
 }